html, body {
    background-color: rgb(237, 187, 247);
    gradient: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: block;
        margin-left: auto;
        margin-right: auto;
}

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
            display:block;
            margin-left: auto;
            margin-right: auto;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
    img {
        max-width: 200px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: solid black;
    }
    p {
        font-size: 20px;
        line-height: 1.5;
        color: #555;
        text-align: center;
        }
        .big-word {
            font-size: 24px;
            font-weight: bold;
            color: #000;
        }
    h1 {
        text-align: center;
        color: #333;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    main {
        h1 {
            text-align: center;
        }
    
        img{
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
        
        }
    }
}
